<?xml version="1.0"?>
<ruleset name="WP Widget Disable">
    <description>Coding Standard for WP Widget Disable plugin.</description>

    <file>.</file>

    <rule ref="Required"/>

    <!-- Verify that the text_domain is set to the desired text-domain.
     Multiple valid text domains can be provided as a comma-delimited list. -->
    <rule ref="WordPress.WP.I18n">
        <properties>
            <property name="text_domain" type="array" value="wp-widget-disable" />
        </properties>
    </rule>

    <!-- Define both prefixes for functions and hooks.  -->
    <rule ref="WordPress.NamingConventions.PrefixAllGlobals">
        <properties>
            <property name="prefixes" type="array" value="widget_disable,WP_Widget_Disable"/>
        </properties>
    </rule>

    <exclude-pattern>*/tests/*</exclude-pattern>
</ruleset>
